body {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	color: #777;
	background: url('../img/light_grey.png');
}

h1 {
	font-family: Georgia, Times, 'Times New Roman', serif;
}

a {
	color: #777;
	text-decoration: none;
}

.wrapper {
	width: 100%;
	min-height: calc(100vh - 99px); /* Keeps Footer At the Bottom! */
}

.container {
	width: 960px;
	margin: 0 auto;
}

header {
	width: 100%;
	background: #fff;
}

.h-style {
	border-bottom: solid 2px #ccc;
}

header h1, 
header nav {
	display: inline-block;
}

header h1.logo-name {
	background: #4aaaa5;
	color: #fff;
	float: left;
	padding: 20px;
	font-size: 2.1em;
}

header nav {
	float: right;
}

header nav ul {
	margin-top: 25px;
}

header nav ul li {
	display: inline-block;
	margin-right: 20px;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	color: #777;
	font-weight: bold;
}

header nav ul li a:hover {
	text-decoration: underline;
}

.container section {
	display: inline-block;
	background: #fff;
	margin-top: 30px;
}

.main-section {
	width: 630px;
	padding: 20px;
	margin-right: 10px;
}

.index-img img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 150px;
}

.main-section h1 {
	color: #4aaaa5;
	font-weight: bold;
	font-size: 1.7em;
}

.main-section p:last-child {
	margin-top: 10px;
}

hr.divider {
	width: 100%;
	background: #ccc;
	height: 2px;
	border: none;
}

.side-bar {
	width: 250px;
	padding: 10px;
	vertical-align: top;
}

.side-bar h1 {
	color: #4aaaa5;
	font-weight: bold;
	font-size: 1.1em;
}

.side-bar a {
	margin-right: 8px;
}

.side-bar a:hover {
	opacity: .5;
}

.side-bar a:last-child {
	margin-right: 0;
}

/*======================== 
	Contact Page 
=========================*/
.main-section form {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

label,
input,
textarea {
	display: block;
	margin-bottom: 20px;
	width: 97%;
	padding: 5px;
}

input::placeholder {
	opacity: 0.5;
}

textarea {
	height: 300px;
}

.main-section form label {
	padding-bottom: 5px;
}

.submit {
	background: #4aaaa5;
	color: #fff;
	padding: 10px 20px; 
	border: none;
	font-size: 1.2em;
}

/*==========================
	Portfolio Page
==========================*/

	.img-div {
		display: inline-block;
		width: 298px;
		margin-right: 30px;
		margin-bottom: 30px;
		position: relative;
	}

	.img-div img {
		width: 100%;
	}

	.img-div p {
		position: absolute;
	    width: 100%;
	    background: #4aaaa5;
	    text-align: center;
	    color: #fff;
	    padding: 20px 0;
	    font-size: 1.2em;
	    bottom: 20px;
	}

	div.img-container div:nth-child(2n) {
		margin-right: 0;
	}

	.img-container {
		padding-top: 20px;
		position: relative;
	}

/*========================
	Footer 
==========================*/

footer.footer-style {
	background: #666;
	border-top: 3px solid #4aaaa5;
}

footer .container p {
	text-align: center;
	color: #fff;
	padding: 40px;
}

/* ClearFix */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/*==========================
	MEDIA QUERIES
==========================*/

@media screen and (max-width: 980px) {

	/* Index and Template */
	.wrapper {
		margin-bottom: 30px;
	}

	.main-section img {
		display: block;
		width: 100%;
	}

	.container {
		width: 80%;
	}

	.main-section {
		width: 50%;
		margin-right: 35px;
		line-height: 1.7;
	}
	
	.side-bar a img {
		padding-bottom: 20px;
		width: 30%;
	}

	.side-bar {
		width: 33%;
	}

	.side-bar a {
		margin-right: 2.9%;
	}

	/* Portfolio Page */

	.img-div {
		width: 100%;
	}

	.img-div p {
		padding: 5px 0;
	}
}

@media screen and (max-width: 768px) {
	/* Index and Template */
	.container section {
		display: block;
		width: 100%;
	}

	.main-section img {
		float: left;
		width: 30%;
		margin-right: 15px;
	}

	.side-bar {
		padding: 15px;
	}

	.side-bar a {
		margin-right: 5px;
	}

	.side-bar h1 {
		padding-bottom: 5px;
	}

	.side-bar a img {
		padding: 10px 0 20px;
		width: 50px;
	}

	header nav ul li {
		margin-right: 0;
		padding: 0 8px;
		border-right: 1px solid #ccc;
	}

	header nav ul li:last-child {
		padding-right: 0;
		border: none;
	}

	/* Portfolio Page */

	.img-div {
		width: 46%;
	}

	.img-div img {
		width: 100%;
	}

}

@media screen and (max-width: 640px) {
	/* Index and Template */
	header h1.logo-name,
	header nav {
		display: block;
		float: none;
		text-align: center;
	}

	header nav ul li {
		border: none;
		padding: 0 15% 15px 0;
	}

	header nav ul li:last-child {
		padding-right: 0;
	}

	.container {
		width: 100%;
	}

	section.main-section,
	section.side-bar {
		width: 85%;
		margin: 20px auto;
	}

	.main-section img {
		display: block;
		width: 100%;
	}

	/* Portfolio Page */
	.img-div {
		width: 100%;
	}

	
}
